@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@media only screen and (max-width: 601px) {
}

@media only screen and (min-width: 320px) {
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffe6ff;
}
nav {
  display: flex;
  position: sticky;
  justify-content: flex-end;
  background-color: #fff;
  height: 100px;
}
.logo {
  font-family: "Pacifico", cursive;
  text-decoration: none;
  color: #000;
  font-size: 3em;
  margin: auto;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 1em;
  margin-right: 40px;
}
.icons em {
  padding: 10px;
  height: 10px;
  width: 15px;
  margin-right: 20px;
}
.icons em:hover {
  font-size: 1.5em;
  height: 10px;
  width: 15px;
}
.fa-heart {
  color: #8c1f33;
}
.main {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  margin: 40px 40px;
}
.main a {
  display: block;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  height: 50px;
}
.main a:hover {
  font-weight: bold;
  color: #8c1f33;
}
.main li {
  list-style: none;
}
.dropdown-1 {
  visibility: hidden;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
}
.main a:hover:first-child ~ .dropdown-1 a {
  visibility: visible;
}
.dropdown-2 {
  visibility: hidden;
  display: grid;
  grid-template-columns: 100px 100px 100px 150px 150px;
}
.dropdown-1 a:hover:first-child ~ .dropdown-2 {
  visibility: visible;
}
