@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffe6ff;
}
header {
  display: flex;
  position: sticky;
  justify-content: flex-end;
  background-color: #fff;
  height: 100px;
}
.logo {
  font-family: "Pacifico", cursive;
  text-decoration: none;
  color: #000;
  font-size: 3em;
  margin: auto;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 1em;
  gap: 1rem;
  margin-right: 3%;
}
.icons em {
  padding: 10px;
  height: 10px;
  width: 15px;
}
.icons em:hover {
  font-size: 1.5em;
  height: 10px;
  width: 15px;
}
.fa-heart {
  color: #8c1f33;
}
.main-menu {
  display: grid;
  grid-template-columns: 170px 170px 170px;
  margin-top: 2%;
  /* background-color: #d32344; */
}
.main-menu li {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  list-style: none;
  padding: 10px;
  padding-left: 20px;
  margin: 5px;
}
.main-menu:hover {
  font-weight: bold;
  color: #8c1f33;
}
.dropdown-1 {
  /* display: none; */
  display: grid;
  grid-template-columns: 170px 170px 170px;
  width: max-content;
  /* background-color: #be1e3b; */
}
.dropdown-1 li{
  padding-left: 0;
  margin: 0;
}
.dropdown-2 {
  /* display: none; */
  display: grid;
  grid-template-columns: 170px 170px 170px;
  width: max-content;
  grid-row-start: 4;
  /* background-color: #da1f41; */
}
.dropdown-2 li{
  padding-left: 0;
}
/* .main-menu:first-child:hover > .dropdown-1{
  display: grid;
  grid-template-columns: 170px 170px 170px;
  background-color: #be1e3b;
}
#hoverMe-2:hover > .dropdown-2 li {
  display: grid;
  grid-template-columns: 170px 170px 170px;
  grid-row-start: 4;
  background-color: #da1f41;
} */

@media only screen and (max-width: 601px) {
}

@media only screen and (min-width: 320px) {
}

/* .main-menu:first-child
.main-menu:nth-child(4)
#hoverMe-1 */
